.todo_style{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    list-style-type: none;
    padding: 2px;
}
.todo_style .fa-times{
    width: 28px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #08e1ae;
    background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
    border-radius: 50%;
    margin: 0 15px 0 35px;
    color: white;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}
